body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

#app {
  padding: 12px;
  max-width: 500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #1e293b;
  padding: 12px;
  margin: 10px 0;
  border-radius: 12px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#entries div {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 6px;
}
